{% extends 'base.html.twig' %}

{% block title %}Messagerie de Guinot :
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h1>Messagerie de Guinot :</h1>
                <h2>{{ message.titre_message }}</h2>
                <p>Message de {{ message.expediteur.email }}</p>
                <p>Le {{ message.creerDate|date }}</p>
                <div>{{ message.description }}</div>
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
                <a href="{{path("messageRecu_index")}}" class="btn btn-primary">Retour à la boite de réception</a>
			</div>
		</div>
	</section>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
		</div>
		<div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("message_index") }}" class="list-group-item list-group-item-action">Liste des messages :</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messageRecu_index") }}" class="list-group-item list-group-item-action active">Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messageEnvoyer_index") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
		</div>
	</div>
{% endblock %}
